{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donor Dashboard | LifeLink</title>
  <link rel="stylesheet" href="{% static 'css/donor_dashboard/donor_dashboard.css' %}">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h2>LifeLink</h2>
      <ul>
        <li><a href="{% url 'donordashboard'  %}">Dashboard</a></li>
        <li><a href="{% url 'update_donor' donor.id %}">Update Profile</a></li>
        <li><a href="{% url 'donation_history' %}">Donation History</a></li>
        <li><a href="{% url 'request_appointment' %}">Request Appointment</a></li>
        <li><a href="{% url 'donor_notification' %}">Notifications</a></li>
        <li><a href="{% url 'home' %}">Logout</a></li>
      </ul>
    </aside>

    <main class="main-content">


      <div class="card-container">
        <section class="hero">
    <div class="hero-content">
      <h2>Welcome, {{ user.profile.donor.fullname }}</h2>
      <p>Every drop counts. Every donor is a hero.” ❤️</p>
      <a href="{% url 'request_appointment' %}" class="hero-btn">Request Appointment</a>
    </div>
  </section>

  
  <section class="motivation">
    <h2>Why Donate Blood?</h2>
    <p>
      Every two seconds, someone in the world needs blood. Your donation can help accident victims,
      patients undergoing surgery, and those battling life-threatening diseases. 
      Together, we can make a difference.
    </p>
    <blockquote>
      “Every drop of blood donated is a drop of love shared.”
    </blockquote>
  </section>
        
       

        
      </div>
    </main>
  </div>
</body>
</html>
