{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipient Dashboard | LifeLink</title>
    <link rel="stylesheet" href="{% static 'css/patient_dashboard/patient_dashboard.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2>LifeLink</h2>
        <ul>
            <li><a href="{% url 'patient_dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'request_blood' %}">Request Blood</a></li>
            <li><a href="{% url 'request_update'%}">Request Update</a></li>
            <li><a href="{% url 'received_history' %}">Received History</a></li>
            <li><a href="{% url 'patient_notification' %}">Notifications</a></li>
            <li><a href="{% url 'home' %}">Logout</a></li>
        </ul>
    </div>


    <div class="content">
        <h1>Welcome, {{user.profile.patient}}</h1>

        <div class="card">
            <h3>Notifications</h3>
            <p>You have 3 new notifications regarding your blood requests.</p>
        </div>
    </div>
</body>
</html>
