{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome | RedPulse</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
  <div class="container">
    <div class="welcome-card">
      <h1>Welcome to <span>LifeLink</span></h1>
      <p class="tagline">Be a Hero. Save a Life.</p>

      <p class="signin-text">
        Already have an account? 
        <a href="{% url 'signin' %}" class="signin-link">Sign in</a><br>
        <a href="{% url 'home' %}" class="signin-link">Go Back</a>
      </p>
    </div>
  </div>
</body>
</html>
